<div class="relative bg-gradient-to-r from-[#03071e] to-[#000000] h-screen text-white overflow-hidden">
  <div class="absolute inset-0">
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>
  <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
    <p
      class="max-w-4xl mx-auto mb-4 text-4xl font-bold leading-tight sm:leading-tight sm:text-5xl lg:text-6xl lg:leading-tight font-pixel">
      Test Your <span class="text-[#4cb944]">Memory Skills</span>
    </p>
    <p class="text-lg text-gray-300 mb-8 font-pixel">
      Challenge your brain and improve your focus with this interactive memory game.
    </p>

    <a href="#play" class="bg-[#f19409] py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out font-pixel">
      Start Playing
    </a>


  </div>
</div>
